extends ../layout_app

block content_app
    .admin-content
        .admin-avatar.hideL
            .avatar-main
                include ../includes/admin/avatar
            .avatar-links
                include ../includes/admin/links_avatar
        .admin-title
            h1 Bienvenidos