extends layout_admin

block content_admin
    .admin-content
        .admin-avatar
            b=user.fullname
            s #{user.username}#[br]
            s=user.typeuser
            .admin-button
                a(href="/logout") Cerrar session 
        .admin-title
            h1 Adminstradores
        .admin-main
            p= user.username