extends ../layout

block content
    header
        .header-content
            .header-school.hideL
                h1.title-school Admin: #{user.username}
            .header-title
                a(href="/admin") 
                    h1 Proschool
            .header-nav
                a(href="/admin/school") Escuelas
                a(href="/admin/user") Administradores
    block content_admin