extends ../layout_app

block content
    header
        .header-content
            .header-school.hideL
                h1.title-school Admin: #{user.username}
            .header-title
                a(href="/admin") 
                    h1 Proschool
            .header-nav
                a(href="/admin")
                    b.icon-home
                    s Inicio
                a(href="/admin/profile/#{user.username}") 
                    b.icon-user
                    s Perfil
    block content_admin