extends layout_admin

block content_admin
    include ../includes/admin/avatar
    include ../includes/admin/links_school
    include ../includes/admin/links_user
    a(href="/admin/school") Escuelas
    a(href="/admin/user") Administradores