extends layout_admin

block content_admin
    .admin-content
        .admin-avatar
            .avatar-main
                include ../includes/admin/avatar
            .avatar-links
                include ../includes/admin/links_new
            .avatar-links
                include ../includes/admin/links_school