extends ../layout_student

block content_student
   .list-content
        .list-title
            h1 Lista de Notas
            b Apareceran notas de todo tus profesores
        .list-task
            if tasks.length == 0
                p No ha subido notas refentes a ti
            else
                - var profe = false
                for task in tasks
                    if task.teacher.username == profesor
                        p #{task.task} Nota: #{task.note}
                        - profe = true
                if !profe
                    p No ha subido notas refentes a ti