extends ../layout_student

block content_student
   .list-content
        .list-title
            h1 Lista de Notas
            b Apareceran notas de todo tus profesores
        .list-task
            if tasks.length == 0
                p No ha subido notas refentes a ti
            else
                for task in tasks
                    p #{task.task} Nota: #{task.note}
            
