extends ../layout_student

block content_student
   .list-content
        .list-title
            h1 Lista de Notas
            p Apareceran notas de todo tus profesores
        .list-table
                
           