extends ../layout_student

block content_student
   .list-content
        .list-title
            h1.title-list Lista de Notas
            b.subtitle-list Apareceran notas de todo tus profesores
            if user.grade
                for teacher in teachers
                    if teacher.typeuser == 'Profesor'
                        .list-teacher
                            p Español | #[a(href="/app/#{teacher.username}/")=teacher.fullname] | #[a(href="/app/task/note/#{teacher.username}") Ver notas]
            else
                p No has asignado tu grado