extends ../../layout_app

block content_app
  .admin-content
        .admin-avatar
            .avatar-links
                include ../../includes/admin/links_avatar
        .admin-main
            h1 Lista de administradores
            for admin in admins
                .admin-user-main
                    p=admin.username