.header-school.hideL
    h1.title-school Admin: #{user.username}
.header-title
    a(href="/home") 
        h1 Proschool
.header-nav
    a(href="/home")
        b.ion-home
        s Inicio
    a(href="/user") 
        b.ion-navicon-round
        s Perfil