.header-school.hideL
    if user.school != undefined
        h1.title-school Logo | #{user.school}
    if user.school == undefined
        a(href="/home") 
            h1.title-logo Proschool
.header-title
    if user.school != undefined
        a(href="/home") 
            h1 Proschool
.header-nav
    a(href="/home")
        b.icon-home
        s Inicio
    a(href="/user")
        b.icon-user
        s Perfil