.header-school
    if user.school != undefined
        h1.title-school Logo | #{user.school}
    else
        a(href="/home") 
            h1.title-logo Proschool
if user.school != undefined
    .header-title
        a(href="/home") 
            h1 Proschool
.header-nav
    a(href="/home")
        b.ion-home
        s Inicio
    a(href="/user")
        b.ion-navicon-round
        s Perfil