extends layout_app

block content_app
    .list-content
        .list-title
            h1 Lista de estudiantes #[b.title-grade.hideL #{user.grade}]
        if user.grade
            - var flag = false
            .list-main
            for student in students
                if student.typeuser == 'Estudiante' && user.grade != null
                    .list-main
                        .list-main-title
                            if(student.typeuser == 'Estudiante')
                                a(href="/app/#{student.username}/")=student.fullname
                        .list-main-button
                            a(href="/app/task/note/#{student.username}") Ver mas
                    - flag = true
            if !flag
                p No hay estudiantes registrados en el curso
        else
            p No has asignado tu grado