extends layout

block content
    .signup-content
        .signup-title
            a(href="/") Proschool
            h1 Registrate
        .signup-form
            form(action="/signup", method="POST")
                .signup-input
                    input(type="text", name="fullname", placeholder="Nombre completo")
                .signup-input
                    input(type="text", name="email", placeholder="Correo electronico")
                .signup-select
                    label Tipo de usuario
                    select(name="typeuser")
                        option(value="Estudiante" , selected) Estudiante
                        option(value="Profesor") Profesor
                        option(value="Acudiente") Acudiente
                .signup-input
                    input(type="text", name="username", placeholder="Nombre de usuario")
                .signup-input
                    input(type="password", name="password", placeholder="Contraseña")
                .signup-input
                    input(type="password", name="password_confirmation", placeholder="Confirmar contraseña")
                .signup-button
                    input.signup-button-1(type="submit" value="Registrar")
                .signup-button
                    a.signup-button-2(href="/") Ya tengo cuenta
                    