extends ../layout_app

block content_app
    .edit-content 
        .edit-title
            h2 Editar nota
            p Puedes cambiar la nota, tarea o periodo
        .edit-form
            form(action="/app/notas/#{nota._id}?_method=PUT", method="POST")
                .edit-input
                    input(type="text", name="periodo", placeholder="Periodo", id="periodo", value="#{nota.periodo}")
                .edit-input
                    input(type="text", name="nota", placeholder="Escribir nota", id="nota", value="#{nota.nota}")
                .edit-button
                    input.edit-button-1(type="submit" value="Cambiar")
                .edit-button
                    a.edit-button-2(href="/app/notas") Cancelar