extends ../layout_app

block content_app
    .new-content 
        .new-title
            h2 Subir nueva nota
            p Asigna una nota, tarea y el periodo
        .new-form
            form(action="/app/notas", method="POST")
                .new-input
                    label Periodo 
                    select(name="period")
                        option(value="Primero" , selected) Primero
                        option(value="Segundo") Segundo
                        option(value="Tercero") Tercero
                        option(value="Cuarto") Cuarto
                .new-input
                    input(type="text", name="task", placeholder="Tarea, examen, etc")
                .new-input
                    input(type="text", name="note", placeholder="Nota")
                .new-input
                    input(type="text", name="student", placeholder="Estudiante")
                .new-button
                    input.new-button-1(type="submit" value="Subir")
                .new-button
                    a.new-button-2(href="/app") Cancelar