extends layout_student

block content_student
    .main-content
        .main-data.hideL
            .data-avatar
                include ../includes/avatar/avatar_data
            .data-links
                include ../includes/avatar/estudiante_links
        .main-nota
            h1.nota-title Tareas
            p.nota-subtitle Todas las tareas de tus profesores
            for nota in notas
                .nota-item
                    if(typeof nota.profesor != "undefined")
                        b.nota-fullname #{nota.teacher.fullname} 
                        s.nota-username #[a(href="/app/#{nota.teacher.username}") @#{nota.teacher.username}] 
                        br
                    a(href='/app/task/#{nota._id}').nota-parrafo= nota.task
          //include ../includes/ads            