extends layout_student

block content_student
    .main-content
        .main-data
            .data-avatar
                p.data-user Hola, #{user.name + ' ' + user.lastname}
                p.data-username @#{user.username}
                p.data-type #{user.typeuser}
            .data-links
                h3 Informacion
                a(href="/app/notas/new") Subir nota 
                br
                a(href="/app/notas") Historial Notas 

        .main-nota
        .main-publicidad
            h3 Publicidad
            a(href="#") TeamCRUD
            br
            a(href="#") TecnoPC                      