extends ../layout

block content
    header
        .header-content
            .header-title
                 a(href="/app") 
                    h1 Proschool
            .header-nav
                a(href="/app") Inicio 
                a(href="/logout") Cerrar sesión
    block content_student