extends ../layout

block content
    header
        .header-content
            .header-school.hideL
                if(user.school != undefined)
                    h1.title-school Logo | #{user.school}
                if(user.school == undefined)
                    a(href="/app") 
                        h1.title-logo Proschool
            .header-title
                if(user.school != undefined)
                    a(href="/app") 
                        h1 Proschool
            .header-nav
                a(href="/app").icon-home Inicio 
                a(href="/app/#{user.username}").icon-user Perfil
    block content_student