extends ../layout_app

block content_app
    .list-content
        .list-title
            h1 Historial de Notas
        for user in users
            .list-main
                .list-main-title
                    a(href="/app/notas/#{user.username}/")=user.fullname 