extends ../layout_app

block content_app
    .new-content 
        .new-title
            h2 Tarea / #{task.task}
            p Asigna una nota
        .new-form
            form(action="/app/notas/#{task._id}", method="POST")
                .new-select
                    label Periodo 
                    select(name="period")
                        option(value="#{task.period}" , selected) #{task.period}
                .new-input
                    input(type="text", name="student", placeholder="Usuario de estudiante")
                .new-input
                    input(type="text", name="note", placeholder="Asignar nota")
                .new-button
                    input.new-button-1(type="submit" value="Subir")
                .new-button
                    a.new-button-2(href="/app") Cancelar