if user.typeuser == "Profesor"
    .task-item
        b.fullname-task #{task.teacher.fullname} 
        s.username-task #[a(href="/app/#{task.teacher.username}") @#{task.teacher.username}] #[br]
        a.task-main(href="/app/task/#{task.id}")= task.task
else