extends layout_app

block content_app
    .main-content
        for nota in notas
            .main-nota
                h1= nota.nota
                if(typeof nota.profesor != "undefined")
                    p #{nota.periodo + ' periodo'} | Por #{nota.profesor.name  + ' ' + nota.profesor.lastname }