extends layout_app

block content_app
    .main-content
        for nota in notas
            .main-nota
                if(nota.nota > 3.9 )
                    strong= nota.description + ': ' +nota.nota
                    if(typeof nota.profesor != "undefined")
                        p #{nota.periodo + ' periodo'} | Profesor #{nota.profesor.name  + ' ' + nota.profesor.lastname } | Estudiante #{nota.student.name + ' ' + nota.student.lastname}