extends ../layout

block content
    header
        .header-content
            .header-title
                h1 Proschool
            .header-nav
                a(href="/app") Inicio 
                a(href="/app/notas/new") Subir nota 
                a(href="/logout") Cerrar sesión
    //.avatar-content
        a(href="/#{user.username}") #{user.name + ' ' + user.lastname} 
        a(href="/#{user.username}") @#{user.username}
    block content_app