extends ../layout

block content
    header
        h1 Proschool
        a(href="/app") Inicio 
        a(href="/app/notas/new") Subir nota 
        a(href="/app/notas") Notas
        a(href="/logout") Cerrar sesión
    block content_app