extends ../layout_app

block content_app
    .main-content
        .main-data
            .data-avatar
               include ../../includes/profile/profile_avatar
            .data-links
                include ../../includes/avatar/profesor_links
        .main-nota
            include ../../includes/profile/profile_task