extends ../layout_app

block content_app
    .main-content
        .main-data
            include ../../includes/profile/profile_avatar
            if(user.username == profile.username)
                .data-links
                    include ../../includes/avatar/profesor_links
        .main-nota
            include ../../includes/profile/profile_task