extends ../../layout_app

block content_app
    .admin-content
        .admin-avatar
            .avatar-links
                include ../../includes/admin/links_school
            .avatar-links
                include ../../includes/admin/links_avatar
        .admin-main
            include includes/main