extends ../../layout_app

block content_app
     .admin-content
        .admin-avatar
            .avatar-links
                include ../../includes/admin/links_school
        .admin-main
            h1 Lista de esceulas
            for school in schools
                .admin-school-main
                    p=school.school