extends ../layout_admin

block content_admin
     .admin-content
        .admin-avatar
            .avatar-links
                include ../../includes/admin/links_school
        .admin-main
            h1 lista de esceulas
            for school in schools
                .admin-school-main
                    p=school.school