extends ../layout_admin

block content_admin
     .admin-content
        .admin-school-links
            include ../../includes/admin/links_school
        for school in schools
            .admin-school-main
                p=school.school