h1 Bienvenido, Crear Escuela
form(action="/admin/school" method="POST")
    .input
        input(type="text" name="school" placeholder="Nombre de la escuela")
    .input
        input(type="text" name="username" placeholder="Nombre de usuario")
    .input
        input(type="text" name="password" placeholder="Contraseña")
    .input
        input(type="submit")
