extends ../layout

block content
    header
        .header-content
            .header-title
                a(href="/app")  
                    h1 Proschool
            .header-nav
                a(href="/app") Inicio 
                a(href="/app/notas/new") Subir Nota 
                a(href="/logout") Cerrar sesión
    block content_app