extends ../layout

block content
    header
        .header-content
            .header-school.hideL
                h1.title-school Logo | #{user.school}
            .header-title
                a(href="/app")  
                    h1.title-logo Proschool
            .header-nav
                a(href="/app") Inicio 
                a(href="/app/#{user.username}") Perfil
    block content_app