extends ../layout_student

block content_student
    .main-content
        .main-data
            .data-avatar
               include ../../includes/profile/profile_avatar
            .data-links
                include ../../includes/avatar/estudiante_links