extends ../layout_student

block content_student
    .main-content
        .main-data
            .data-avatar
               include ../../includes/profile/profile_avatar
            if(user.username == profile.username)
                .data-links
                    include ../../includes/avatar/estudiante_links