.home-main
    if user.typeuser
        if user.typeuser == "admin"
            h1 Bienvenidos
        else
            if user.typeuser == "school" || user.typeuser == "Profesor" 
                h1 Mejores notas
                p Apareceran notas superiores a 4.8
            else 
                include task
    else
        p no soy user