include titles
if user.grade || user.typeuser == "school" 
    - var new_task = false
    for task in tasks
        if user.typeuser == "school"  || user.typeuser == "Profesor"
            if task.note > 4.8 && !profile
                include ../task/news
        else
                if task.note == null && !profile
                    include ../task/news
        if profile
            if task.note == null && task.teacher.username == user.username
                include ../task/default
            else
                if user.typeuser != "school" && task.note != null && task.student == user.username
                    include ../task/news
        - new_task = true
    if !new_task
        if profile
            if user.typeuser == "Estudiante" || user.typeuser == "Acudiente"
                p.description Ningun profesor ha subido tarea
            if user.typeuser == "profesor"
                p.description No has subido tareas
            if user.typeuser == "school"
                p.description No has subido noticias
        else
            p.description Ningun profesor ha subido tarea
else
    if user.typeuser != 'Acudiente'
        p.description No has asignado tu grado
    else
        p.description No has asignado tu hijo