.avatar-content.hideL
    .avatar-main
        include default
    if user.typeuser == 'admin'
        .avatar-links
            include ../links/new
    .avatar-links
        if user.typeuser
            if user.typeuser == "admin"
                include ../links/admin
            if user.typeuser == "school"
                include ../links/school
            if user.typeuser == "Profesor"
                include ../links/teacher
            if user.typeuser == "Estudiante"
                include ../links/student
            if user.typeuser == "Acudiente"
                include ../links/student
        else
            p no soy user