.avatar-content
    .avatar-main
        include default
    if user.typeuser != "admin" || user.typeuser != "school"
        .avatar-main
            include info
    if user.typeuser
        .avatar-links
            include ../links/default
        if user.typeuser == "admin"
            .avatar-links
                include ../links/admin
            .avatar-links
                include ../links/school
        if user.typeuser == "school"
            .avatar-links
                include ../links/school
        if user.typeuser == "Profesor"
            .avatar-links
                include ../links/teacher
        if user.typeuser == "Estudiante"
            .avatar-links
                include ../links/student
        if user.typeuser == "Acudiente"
            .avatar-links
                include ../links/student
    else
        p no soy user