.admin-content{
    @include edContainer
}
.admin-avatar{
    @include edItem(100,100);
    @include showFrom(m)
}
.admin-title{
    @include edItem;
    @include to(m){
        text-align: center;
       h1{
           font-weight: $normal
       }
    }
}
.admin-main{
    @include edItem
}
.admin-school-links, .admin-user-links{
    @include edItem;
    @include showFrom(m)
}
.admin-school-main, .admin-user-main {
    @include edItem;
    border-bottom: 1px solid $border;
    p{
        padding: .5em;
        margin: 0
    }
}