*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin      : 0;
  font-family : "Roboto",sans-serif;
  //color       : #333;
  background: black;
  color: white
}

img {
  max-width : 100%;
  height    : auto;
}

a {
  text-decoration : none;
  &:hover { text-decoration : underline }
}

.hideL{
  @include showFrom(l);
}