footer{
    .footer-content{
        @include edContainer
    }
    .footer-title{
        @include edItem;
        font-size: 40px;
        text-align: center;
        color: $favorite;
        opacity: 5;
        @include from(m){
            width: 50%;
            @include crossCenter;
            @include mainEnd
        }

    }
    .footer-image{
        @include edItem;
        @include from(m){
            width: 50%;
            @include crossCenter;
            @include mainStart;
            img{
                width: 60%
            }
        }
    }
}