header{
    padding: .5em 0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    .header-content{
        @include edContainer;
    }
    .header-title{
        @include edItem(100,100,70);
        h1{
            margin: 0;
            font-size: 1.5em;
            font-weight: 200;
            color: $primary;
            font-family: "pacifico",cursive;
        }
        @include to(l){
            text-align: center
        }
    }
    .header-nav{
        @include edItem(100,100,30);
        padding: 0;
        line-height: 2.5;
        text-align: right;
        a{
            text-decoration: none;
            color: $favorite;
            margin: 0 .3em;
            &:hover{
                color: $light;
                transition: .2s all
            }
        }
        @include to(l){
            text-align: center
        }
    }
}