header{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    .header-content{
        @include edContainer;
    }
    .header-school{
        @include edItem(100,100,45);
        a{
            text-decoration: none
        }
        .title-school{
            line-height: 1.6;
            margin: 0;
            font-size: 1.5em;
            font-weight: 200;
            color: $favorite;
            font-family: "roboto";
        }
        .title-logo{
            margin: 0;
            font-size: 1.5em;
            font-weight: 200;
            color: $primary;
            font-family: "pacifico",cursive;
        }
    }
    .header-title{
        @include edItem(100,50,10);
        a{
            text-decoration: none
        }
        h1{
            margin: 0;
            font-size: 1.5em;
            font-weight: 200;
            color: $primary;
            font-family: "pacifico",cursive;
        }
        @include to(l){
            text-align: center
        }
    }
    .header-title{
        @include showFrom(m)
    }
    .header-nav{
        @include edItem(100,50,45);
        margin: .7em 0;
        text-align: right;
        @include to(m){
            line-height: 1;
            text-align: center;
            font-size: 24px;
            s{
                display: none
            }
        }
        a{
            text-decoration: none;
            color: $favorite;
            margin: 0 .3em;
            &:hover{
                color: $light;
                transition: .2s all
            }
        }
        s{
            text-decoration: none; 
            margin-left: .2em
        }
        @include to(l){
            text-align: center
        }
    }
}