section{
    background: $primary;
}
.section-main{
    margin-bottom: 3em;
}
.index-header{
    @include edContainer;
    padding: 1em 0;
}
.index-logo{
    @include edItem(30);
    a{
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
}
.index-nav{
    @include edItem(70);
    text-align: right;
    a{
        color: #fff;
        font-weight: 600;
        font-size: 16px
    }
    span{
        margin: 0 .5em;
        font-size: 16px;
        color: $favorite
    }
}
.index-content{
    @include edContainer
}
.section-main{
    @include to(m){
    }
    @include from(m){
        padding-top: 50px;
        padding-bottom: 100px
    }
}
.index-title{
    @include edItem(100,50);
    h1{
        font-size: 48px;
        font-weight: 300;
        color: #fff;
        line-height: 1;
        margin-bottom: 16px 
    }
    p{
        padding: 0;
        margin: 0;
        color: rgba(255, 255, 255, 0.6);
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5
    }
}
.index-form{
    @include edItem(100,50);   
    @include to(m){
        text-align: center;
        padding: 1em;
    }
    @include from(m){
        text-align: right;
    }
    p{
        margin: 0;
        margin-bottom: 2em
    }
    a{
        color: #fff;
        background: $secondary;
        text-decoration: none;
        border-radius: 6px;
        padding: .8em;
        text-align: center;
        @include hideFrom(m)
    }
    form{
        @include showFrom(m)
    }
    input{
        margin: 3px 0;
        padding: 10px;
        font-size: 20px;
        width: 20em;
        color:#24292e;
        border: 1px solid #E1E8ED;
        border-radius: 3px;
        &:focus{
            border: 1px solid $light
        }
    }
    select{
        margin: 3px 0;
        padding: 10px;
        font-size: 1em;
        font-size: 20px;
        width: 20em;
        background: white;
        color: #333;
        border: 1px solid #E1E8ED;
        cursor: pointer;
    }
    .signup-button-1{
        font-size: 20px;
        width: 20em;
        @include button($secondary, white, radius)
    }
    .index-button-form{
        @include hideFrom(m);
        padding-top: 1em;
        padding-bottom: 2em
    }
}
.index-main{
    @include edContainer
}
.index-section{
    @include edItem(100);
    margin-bottom: 8em;
    .hideL{
        @include showFrom(l);
    }
    .hideM{
        @include hideFrom(m)
    }
    @include to(m){
        text-align: center;
        h2{
           font-size: 36px;
        }
        h3{
            font-weight: 500;
            font-size: 18px;
        }
        p,b{
            font-size: 18px;
        }
    }
    @include from(m){
        h6,h2,.index-description,.index-button{
            text-align: center
        }  
        .index-button{
            width: 100%;
        }
        h2{
            font-size: 54px;
            margin: 0
        }
        h3{
            font-weight: 400;
            font-size: 22px;
        }
        .index-description{
            margin: auto;
            width: 60%;
            margin-bottom: 10px
        }
        p,b{
            font-size: 20px;
        }
    }
    h6{
        font-size: 16px;
        color: #586069 !important;
        font-weight: 500
    }
    h2{
        font-weight: 300;
        margin-bottom: 8px
    }
    p,b{
        color: #24292e;
        line-height: 1.6
    }
    b{
        font-weight: 300
    }
    a{
        color: #fff;
        text-decoration: none;
        border-radius: 6px;
        padding: .8em;
    }
    .index-button{
        padding: 2em 0;
        margin-top: 3em;
    }
    h3{
        margin-bottom: 4px
    }
    p{
        padding: 0;
        margin: 0;
        font-size: 16px;
        color: #24292e
    }
    .button-1{
        background: $light;
    }
    .button-2{
        border: 1px solid $border;
        color: $light
    }
}
.index-section-small{
    @include edContainer
}
.index-small-main{
    @include edItem(100,50);
    padding: 0;
    padding-top: 5em;
}
.index-small-image{
    @include edItem(100,50);
    display: flex;
    @include flexCenter;
    img{
        width: 300px;
        height: 300px;
    }
}
.index-item,.index-item-image{
    @include edItem(100,50);
    img{
        height: 350px;
        margin: auto
    }
    p{
        margin-bottom: 32px
    }
}
.index-item-image{
    display: flex;
    @include flexCenter
}
.index-footer{
    @include edItem;
    text-align: center
}