// App =================
.main-content{
    @include edContainer;
    padding: .5em 0;
    .main-data{
        @include edItem(100,100,20);
        .data-avatar, .data-links{
            padding: 0;
            margin-bottom: .5em;
            border: 1px solid #E1E8ED;
        }
        .data-avatar{
            text-align: center;
            p{
                padding: 0;
                margin: .5em
            }
            .data-user{
                font-weight: $bold
            }
            .data-username{
                color: $primary
            }
            .data-type{
                color: $light
            }
        }
        .data-links{
            padding: .8em;
            .links-title,.links-item{
                padding: 0;
                margin: 0
            }
            .links-title{
                margin: 0;
                margin-bottom: .8em;
                padding: .3em;
                text-align: center;
                font-weight: 300;
                font-size: 1em;
                color: white;
                background: $secondary
            }
            .links-item{
                color: $secondary;
                padding: 0;
                text-decoration: none;
                h4{
                    padding: .3em;
                    margin: 0;
                    font-weight: $normal;
                    &:hover{
                        color: $primary;
                        background: $border;
                        border-right: 2px solid $primary;
                        transition: .4s all
                    }
                }
            }
        }
    }
    .main-nota{
        @include edItem(100,100,60);
        padding: 1em 0;
        border-top: 1px solid $border;
        .nota-title{
            margin: 0;
            padding: 0;
            text-align: center;
            font-weight: $normal
        }
        .nota-subtitle{
            margin: 0;
            margin-top: .3em;
            padding: 0;
            padding-bottom: 1.2em; 
            font-weight: 300;
            text-align: center;
            color: $favorite;
            border-bottom: 1px solid $border
        }
        .nota-item{
            border-bottom: 1px solid $border;
            padding: .8em;
            .nota-username{
                text-decoration: none;
                color: $favorite;
            }
            .nota-parrafo{
                margin: 0;
                margin-bottom: .4em;
                padding: 0;
                font-size: 18px;
            }
            .nota-footer{
                color: $favorite;
            }
            .nota{
                color: #333;
                font-weight: 300
            }
        }
    }
    .main-publicidad{
        @include edItem(100,100,20);
        @include showFrom(l);
        .publicidad-title,.publicidad-item{
            text-align: center;
            a{
                color: $favorite;
                &:hover{
                    color: $light
                }
            }
        }
        .publicidad-item{
            margin-bottom: .5em;
            border: 1px solid #E1E8ED;
            &:hover{
              border: 1px solid lighten($light, 30) ;
              transition: .6s all
            }
        }
    }
    @include to(m){
        text-align: center
    }
}
// Login ==================
.login-content{
    text-align: center;
    @include edContainer;
    .login-title{
        @include edItem;
        padding: 2em 0;
        a{
            color: $primary;
            font-size: 2.5em;
            font-family:'pacifico', cursive;
            text-decoration: none;
        }
    }
    .login-form{
        @include edItem
    }
    .login-input{
        input{
            margin-bottom: 8px; 
            padding: 8px;
            width: 16em;
            font-size: 16px;
            color: black;
            border: 1px solid #E1E8ED;
            border-radius: 3px;
            &:focus{
                border: 1px solid $light
            }
        }
    }
    .login-button-1{
        font-size: 15px;
        width: 17em;
        @include button($secondary, white, radius);
        margin-bottom: 35px
    }
    .login-button-2{
        font-size: 16px;
        color: $secondary
    }
}

// Signup ==================
.signup-content{
    @include edContainer;
    text-align: center;
    padding: 1em 0;
    .signup-title{
        @include edItem;
        a{
            font-size: 45px;
            font-family: "pacifico",cursive;
            color: $primary;
            text-decoration: none
        }
        h1{
            color: $secondary;
            font-weight: $normal;
            font-family: "roboto"
        }   
    }
    .signup-form{
        @include edItem
    }
    .signup-select{
        margin: .2em 0;
        label{
            font-size: 1.2em;
            margin-right: 1.9em;
        }
        select{
            padding: .3em .5em;
            font-size: 1em;
            background: white;
            color: #333;
            border: 1px solid #E1E8ED;
            border-radius: 3px
        }
    }
    .signup-input{
        input{
            margin: 3px 0;
            padding: 10px;
            width: 16em;
            font-size: 18px;
            border: 1px solid #E1E8ED;
            border-radius: 3px;
            &:focus{
                border: 1px solid $light
            }
        }
    }
    .signup-button-1{
        font-size: 16px;
        margin: 2px;
        margin-bottom: 35px;
        width: 18em;
        @include button($secondary, white, radius)
    }
    .signup-button-2{
        font-size: 16px;
        color: $secondary
    }
}

// New ==================
.new-content{
    @include edContainer;
    text-align: center;
    padding: 1.5em 0;
    .new-title{
        @include edItem;
        h2{
            font-weight: $normal;
        }
        p{
            color: $favorite;
        }
    }
    .new-form{
        @include edItem;
    }
    .new-select{
        margin: .1em;
        label{
            font-size: 1.2em;
            margin-left: .1em;
            margin-right: 5.5em;
        }
        select{
            padding: .3em .6em;
            font-size: 1em;
            background: white;
            color: #333;
            border: 1px solid #E1E8ED;
            border-radius: 3px
        }
    }
    .new-input{
        input{
            margin: 3px 0;
            padding: 10px;
            width: 16em;
            font-size: 18px;
            border: 1px solid #E1E8ED;
            border-radius: 3px;
            &:focus{
                border: 1px solid $light
            }
        }
    }
    .new-button-1{
        font-size: 17px;
        margin: 2px;
        width: 17em;
        @include button($secondary, white, radius)
    }
    .new-button-2{
        font-size: 16px;
        margin: 2px;
        width: 18em;
        border: 1px solid $secondary;
        @include button(white, $secondary, radius)
    }
}

// list ==================
.list-content{
    @include edContainer;
    .list-title{
        @include edItem;
        text-align: center;
        h1, b{
            font-weight: $normal;
        }
    }
    .list-main{
        @include edContainer;
        @include edItem;
        padding: .7em 1em;
        margin:0;
        border-bottom: 1px solid $border
    }
    .list-main-title{
        @include edItem(65,80,90);
        padding: 0;
        a,p{
            color: #333;
            font-weight: $normal;
            text-decoration: none;
            &:hover{
                color: $secondary;
                transition: .3s all
            }
        }
        p{
            margin: 0;
            padding: 0
        }
    }
    .list-button{
        @include edItem(15,10,5);
        text-align: center;
        padding: 0;
    }
    .list-button-1{
        color: $favorite;
        text-decoration: none;
        &:hover{
            color: $light;
            transition: .3s all
        }
    }
    .list-button-2{
        color: $favorite;
        background: white;
        font-size: .9em;
        border: none;
        cursor: pointer;
        &:hover{
           color: $danger;
           transition: .3s all
        }
    }
}

// Edit ==================
.edit-content{
    @include edContainer;
    text-align: center;
    padding: 2em 0;
    .edit-title{
        @include edItem;
        h2{
            font-weight: $normal;
        }
        p{
            color: $favorite;
        }
    }
    .edit-form{
        @include edItem;
    }
    .edit-select{
        margin: .1em;
        label{
            font-size: 1.2em;
            margin-left: .1em;
            margin-right: 5.5em;
        }
        select{
            padding: .3em .6em;
            font-size: 1em;
            border: 1px solid #E1E8ED;
        }
    }
    .edit-input{
        input{
            margin: 3px 0;
            padding: 10px;
            width: 16em;
            font-size: 18px;
            border: 1px solid #E1E8ED;
            border-radius: 3px;
            &:focus{
                border: 1px solid $light
            }
        }
    }
    .edit-button-1{
        font-size: 17px;
        margin: 2px;
        width: 17em;
        @include button($secondary, white, radius)
    }
    .edit-button-2{
        font-size: 16px;
        margin: 2px;
        width: 18em;
        border: 1px solid $secondary;
        @include button(white, $secondary, radius)
    }
}

// Show ==================
.show-content{
    @include edContainer;
    .show-main{
        @include edItem;
        h1{
            font-weight: $normal
        }
        p{
            color: $favorite;
        }
    }
}