// Index =================
main{
    .main-content{
        @include edContainer;
        text-align: center
    }
    .main-title{
        @include edItem;
        @include from(m){
            font-size: 30px
        }
    }
    .main-button{
        @include edItem;
        a{
            margin: 0 5px;
            @include from(m){
                font-size: 18px
            }
        }
        .button-1{
            border: 1px solid $secondary;
            @include button($primary, $secondary, radius);
        }
        .button-2{
            border: 1px solid $secondary;
            @include button($secondary, $primary, radius)
        }
    }
}
// Login ==================
.login-content{
    text-align: center;
    @include edContainer;
    .login-title{
        @include edItem;
        padding-top: 2em;
        a{
            font-family:'pacifico', cursive;
            color: $primary;
            font-size: 2.5em;
            text-decoration: none
        }
    }
    .login-form{
        @include edItem
    }
    .login-input{
        input{
            margin-bottom: 8px; 
            padding: 8px;
            width: 16em;
            font-size: 16px;
            color: black;
            border: 1px solid #E1E8ED;
            border-radius: 3px;
            &:focus{
                border: 1px solid $light
            }
        }
    }
    .login-button-1{
        font-size: 15px;
        width: 17em;
        @include button($secondary, white, radius);
        margin-bottom: 35px
    }
    .login-button-2{
        font-size: 16px;
        color: $secondary
    }
}

// Login ==================
.signup-content{
    text-align: center;
    @include edContainer;
    .signup-title{
        @include edItem;
        padding-top: 2em;
        a{
            font-size: 45px;
            font-family: "pacifico",cursive;
            color: $primary;
            text-decoration: none
        }
        h1{
            color: $secondary;
            font-weight: 400;
            font-family: "roboto"
        }   
    }
    .signup-form{
        @include edItem
    }
    .signup-input{
        input{
            margin: 3px 0;
            padding: 10px;
            width: 16em;
            font-size: 18px;
            border: 1px solid #E1E8ED;
            border-radius: 3px;
            &:focus{
                border: 1px solid $light
            }
        }
    }
    .signup-button-1{
        font-size: 16px;
        margin: 2px;
        margin-bottom: 35px;
        width: 18em;
        @include button($secondary, white, radius)
    }
    .signup-button-2{
        font-size: 16px;
        color: $secondary
    }
}