extends ../layout

block content
    header
        .header-content
            .header-school.hideL
                h1.title-school Logo | #{user.school}
            .header-title
                a(href="/school") 
                    h1 Proschool
            .header-nav
                a(href="/school")
                    b.icon-home
                    s Inicio
                a(href="/school/profile/#{user.username}") 
                    b.icon-user
                    s Perfil
    block content_school