extends layout_school

block content_school
     .admin-content
        .admin-avatar
            .avatar-main
                include ../includes/admin/avatar
            .avatar-links
                include ../includes/admin/links_configuration
            .avatar-links
                include ../includes/admin/links_school