extends ../layout_app

block content_app
    .edit-content 
        .edit-title
            h2 Editar nota
            p Puedes cambiar la nota, tarea o periodo 
        .edit-form
            form(action="/app/task/#{task._id}?_method=PUT", method="POST")
                .edit-select
                    label Periodo 
                    select(name="period")
                        option(value="Primero" , selected) Primero
                        option(value="Segundo") Segundo
                        option(value="Tercero") Tercero
                        option(value="Cuarto") Cuarto
                .edit-input
                    input(type="text", name="task", placeholder="Tarea, examen, etc", value="#{task.task}")
                .edit-input
                    input(type="text", name="grade", placeholder="Grado", value="#{task.grade}")
                .edit-button
                    input.edit-button-1(type="submit" value="Cambiar")
                .edit-button
                    a.edit-button-2(href="/app") Cancelar