extends ../layout_app

block content_app
    .new-content 
        .new-title
            h2 Subir nueva tarea
            p Asigna una tarea, el periodo y su porcentaje 
        .new-form
            form(action="/app/task", method="POST")
                .new-select
                    label Periodo 
                    select(name="period")
                        option(value="Primero" , selected) Primero
                        option(value="Segundo") Segundo
                        option(value="Tercero") Tercero
                        option(value="Cuarto") Cuarto
                .new-input
                    input(type="text", name="task", placeholder="Tarea, examen, etc")
                .new-input
                    input(type="text", name="grade", placeholder="Grado")
                .new-button
                    input.new-button-1(type="submit" value="Subir")
                .new-button
                    a.new-button-2(href="/app") Cancelar